/*
 *= require bootstrap_and_overrides
 *= require chosen
 *= require colorbox-rails
 *= require_self
 */

 #cboxClose {
  border: none;
  display: block;
 }

.seach {
  width: 100%;
  .seach-input {
    width: 90%;
  }
  .seach-btn {
    width: 10%;
  }
}
